html {
  background: black;
  color: #B4FFAE;
  font-size: 10pt;
  font-family: "pragmata tt", "pragmatapro", "courier new", "lucida console", monospace;
  line-height: 15px;
}

#container {
  position: relative;
  width: 100%;
  height: 100%;
}

div#console_output
{
  white-space: pre-wrap;
}

#cursor {
  font-size: 12px;
  background-color: #B4FFAE;
  color: #B4FFAE;
  position: absolute;
  left: 0px;
  top: 0px;
}
      
textarea#text_catcher { 
  left: -1000px;
  position: absolute;
}

a {
  color: #96FF8C;
  font-size: 10pt;
  text-decoration: underline;
  font-family: "pragmata tt", "pragmatapro", "courier new", "lucida console", monospace;
  font-weight: bold;
}

a.stealth-link{
  color: #B4FFAE;
  font-size: 10pt;
  font-weight: normal;
  text-decoration: none;
}

textarea:focus, input:focus{
    outline: none;
}

div#user_prompt
{
  display: inline;
  width: auto;
  white-space: pre;
}